@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
    font-family: "Lato", sans-serif !important;
    font-weight: 100;
    font-style: normal;
}
.pro-thumb {
    position: relative;
    width: 200px;
    height: 200px;
    .imageShop {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.imageFetch{
    position: relative;
    width: 100px;
    height: 50px;
    .imgContainer{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@media (max-width:767px) {
    .price{
        display: none;
    }
    
}

